<!DOCTYPE html>
<html lang="en">

<%- include("./foot.ejs") %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Rent your favourite car</title>
        <!-- 
    - custom css link
  -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- 
    - google font link
  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </head>

    <body>


        <header class="header" data-header>
            <div class="container">

                <div class="overlay" data-overlay></div>

                <% if(data?.fullName) { %>
                    <a href="/" class="logo">
                        <h5>
                            <%= data?.email %>
                        </h5>
                    </a>
                    <% } else { %>
                        <a href="/" class="logo">
                            <h2>Sirish</h2>
                        </a>
                        <% } %>

                            <nav class="navbar" data-navbar>
                                <ul class="navbar-list">

                                    <li>
                                        <a href="/" class="navbar-link" data-nav-link>Home</a>
                                    </li>

                                    <li>
                                        <a href="#featured-car" class="navbar-link" data-nav-link>Explore cars</a>
                                    </li>

                                    <li>
                                        <a href="#" class="navbar-link" data-nav-link>About us</a>
                                    </li>

                                    <li>
                                        <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                                    </li>

                                    <% if(data?.email) { %>
                                        <li>
                                            <a href="/dashboard/user/my-cars" class="navbar-link" data-nav-link>My
                                                Cars</a>
                                        </li>
                                        <% } %>


                                </ul>
                            </nav>

                            <div class="header-actions">

                                <div class="header-contact">
                                    <a href="tel:88002345678" class="contact-link">9863942484</a>

                                    <span class="contact-time">Sun - Sat: 9:00 am - 6:00 pm</span>
                                </div>

                                <a href="/dashboard/user" class="btn" aria-labelledby="aria-label-txt">
                                    <ion-icon name="car-outline"></ion-icon>

                                    <span id="aria-label-txt">Dashboard</span>
                                </a>

                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false"
                                        style="display: flex; align-items: center;">
                                        <ion-icon name="person-outline"></ion-icon>
                                        </a>
                                    </button>
                                    <% if(auth==true) { %>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                        </ul>
                                        <% } else { %>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                                <li><a class="dropdown-item" href="/register">Register</a></li>
                                            </ul>
                                            <% } %>
                                </div>


                                <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
                                    <span class="one"></span>
                                    <span class="two"></span>
                                    <span class="three"></span>
                                </button>

                            </div>

            </div>
        </header>



        <!-- Booked Cars -->
        <main>
            <article>

                <section class="section featured-car" id="featured-car" style="margin-top: 80px;">
                    <div class="container">

                        <div class="title-wrapper">
                            <h2 class="h2 section-title">Booked Cars</h2>

                            <a href="#" class="featured-car-link">
                                <span>View more</span>

                                <ion-icon name="arrow-forward-outline"></ion-icon>
                            </a>
                        </div>

                        <ul class="featured-car-list">
                            <% for(let i=0; i< userCarNames.length; i++ ) { %>
                                <li>
                                    <div class="featured-car-card">

                                        <figure class="card-banner">
                                            <img src="<%= userCarNames[i].image %>" alt="Toyota RAV4 2021"
                                                loading="lazy" width="440" height="300" class="w-100">
                                        </figure>

                                        <div class="card-content">

                                            <div class="card-title-wrapper">
                                                <h3 class="h3 card-title">
                                                    <a href="#">
                                                        <%= userCarNames[i].carName %>
                                                    </a>
                                                </h3>

                                                <data class="year" value="2021">
                                                    <%= userCarNames[i].year %>
                                                </data>
                                            </div>

                                            <ul class="card-list">

                                                <li class="card-list-item">
                                                    <ion-icon name="people-outline"></ion-icon>

                                                    <span class="card-item-text">
                                                        <%= userCarNames[i].people %>
                                                    </span>
                                                </li>

                                                <li class="card-list-item">
                                                    <ion-icon name="flash-outline"></ion-icon>

                                                    <span class="card-item-text">
                                                        <%= userCarNames[i].fuelType %>
                                                    </span>
                                                </li>

                                                <li class="card-list-item">
                                                    <ion-icon name="speedometer-outline"></ion-icon>

                                                    <span class="card-item-text">
                                                        <%= userCarNames[i].mileage %>
                                                    </span>
                                                </li>

                                                <li class="card-list-item">
                                                    <ion-icon name="hardware-chip-outline"></ion-icon>

                                                    <span class="card-item-text">
                                                        <%= userCarNames[i].transmission %>
                                                    </span>
                                                </li>

                                            </ul>

                                            <div class="card-price-wrapper">

                                                <p class="card-price">
                                                    <strong>
                                                        <%= userCarNames[i].price %>
                                                    </strong> / month
                                                </p>

                                                <button class="btn fav-btn" aria-label="Add to favourite list">
                                                    <ion-icon name="heart-outline"></ion-icon>
                                                </button>

                                                <button class="btn rentCar" type="button" disabled
                                                    onClick="rentCar(this)">Rent
                                                    now</button>

                                            </div>

                                        </div>

                                    </div>
                                </li>

                                <% } %>
                        </ul>

                    </div>
                </section>
            </article>
        </main>

    </body>

</html>